<form [formGroup]='myform' (ngSubmit)='onSubmit()'>
	<div class="form-group">
	  <label>Email address</label>
	  <input type="email" class="form-control" name="email" formControlName='email' [(ngModel)]='obj.email'
	  placeholder="Enter your email"><br>

	  <label>Password</label>
	  <input type="password" class="form-control" name=password formControlName='password' [(ngModel)]='obj.password' 
	  placeholder="password"><br>

	 <button class="btn btn-primary">Submit</button>
	</div>
</form>

<router-outlet></router-outlet>